*.pyc
__pycache__/
.env
.env.local
.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/
.DS_Store
db.sqlite3
*.log
.pytest_cache/
.coverage
htmlcov/
staticfiles/
media/
.idea/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject
.settings/
*.sublime-project
*.sublime-workspace
*.pem
*.key
